<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" />
</head>
<body onload="document.f.username.focus();">
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">

            <ul class="nav">
                <li><a th:href="@{/}" href="home.html"> home </a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        This is user html
    </div>
</div>
</body>
</html>